.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid{
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand {
    font-family: "Verdana", sans-serif !important;
    color: black !important;
    font-size: 1.25rem !important;
    text-decoration: none !important;
}

.navbar {
    background-color: #ebf2fa;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    width: 100%;
    padding: 0.5rem 0rem !important;
}

.btn-nav {
    color: white !important;
    background: black !important;
    border-color: black !important;
    font-weight: bold !important;
    margin-left: 12px !important;
}

.btn {
    width: 128px !important;
    border-radius: 9999px !important;
}

.btn-home {
    color: black !important;
    background: #ebf2fa !important;
    border-color: #ebf2fa !important;
    font-weight: bold !important;
    margin: 24px !important;
}

.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

body {
    background: #eee
}

#metricHeading{

  color: #6A1B9A;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}

select{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}



.tab input:focus{

  border:1px solid #6a1b9a !important;
  outline: none;
}

input.invalid {

    border:1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    background-color: #6A1B9A;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus{

  outline: none !important;
}


#subBtn {
    background-color: #6a1b9a
}


.all-steps{
      text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
       height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #6a1b9a;
    opacity: 0.5;
}

.step.active {
    opacity: 1
}


.step.finish {
   color: #fff;
   background: #6a1b9a;
   opacity: 1;

}



.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none
}