.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}
body {
    font-family: sans-serif;
    color: white;
    word-wrap: break-word;
    background: linear-gradient(180deg, #05668d 0%, #427aa1 50%);
    background-attachment: fixed;
}
.center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-text {
    width: 100%;
    text-align: center;
}
.img-lg {
    max-width: 70%;
    display: block;
    margin: auto;
}
.btn {
    width: 96px;
    border-radius: 9999px;
}
.btn-home {
    color: black;
    background: white;
    border-color: white;
    font-weight: bold;
    margin: 24px;
}
.navbar {
    background-color: white;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    width: 100%;
}
.btn-nav {
    color: white;
    background: black;
    border-color: black;
    font-weight: bold;
    margin: 0;
}
.bold {
    font-weight: bold;
}
