.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}
body {
    font-family: "Verdana", sans-serif;
    background-attachment: fixed;
}
.container-fluid.center {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-fluid {
    max-width: 70%;
    display: block;
    margin: auto;
}
.btn {
    color: black;
    background: #ebf2fa;
    border-color: #ebf2fa;
    font-weight: bold;
    width: 96px;
    border-radius: 9999px;
    margin: 24px;
}

/* Format form on login page */

.form-floating {
    width: 50%;
    margin: auto;
    text-align: left;
}

div.form {
    display: block;
    text-align: center;
}

form.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}