{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="center center-text">
            <h1 class="bold">Food Saviour</h1>
            <img src="../static/Project/foodsaviour.png" alt="FoodSaviour Logo" class="img-lg">

            {#Display registration success or failure#}
            {% if messages %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            <a href="/login" class="btn btn-home btn-primary">Login</a>
            <a href="/register" class="btn btn-home btn-primary">Register</a>
        </div>
    </div>
{% endblock %}