{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand bold" aria-current="page" href="/home_loggedin">Food Saviour</a>
            <a href="/logout" class="btn btn-nav btn-primary">Logout</a>
        </div>
    </nav>
    <div class="container">
    {% if user.is_authenticated %}
        <div class="center center-text">
            <h1 class="bold">Hello, {{ username }}</h1>
        </div>
    {% endif %}
    </div>
{% endblock %}