{% extends "base.html" %}
{% load cms_tags %}
{% load auth_tag %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" aria-current="page" href="/home">Food Saviour</a>
                {% if user.is_superuser %}
                    <span class="navbar-text" style="align-items: center"><a href="/admin">Admin</a></span>
                {% endif %}
                <div class="d-flex">
                    <span class="navbar-text">Hello, {{ fullname }}</span>
                    <a href="/logout" class="btn btn-nav btn-primary">Logout</a>
                </div>

            </div>
        </nav>
{#        Alert for successful registration #}
        {% block subcontent %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="container center center-text">
                <div class="row justify-content-center">
                    {% get_user_type user as value %}
                    {% if value %}
                    <div class="col-md-5 box">
                        <a href="/tracker" style="text-decoration: none; color: white;">
                            <img src="../static/Project/metrics_icon.png" alt="Metrics Icon" class="img-lg">
                            <h3 class="bold">Track Food Waste Metrics</h3>
                        </a>
                    </div>
                    <div class="col-md-5 offset-md-2 box">
                        <a href="/org_page" style="text-decoration: none; color: white;">
                            <img src="../static/Project/orgs_icon.png" alt="Organization Icon" class="img-lg">
                            <h3 class="bold">View Organization</h3>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-5 box">
                        <a href="/tracker" style="text-decoration: none; color: white;">
                            <img src="../static/Project/metrics_icon.png" alt="Metrics Icon" class="img-lg">
                            <h3 class="bold">Track Food Waste Metrics</h3>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock subcontent %}
    {% endif %}
{% endblock content %}
