{% extends "base.html" %}
{% block content %}
    {% load crispy_forms_tags %}

    <!--Registration page-->
    <!-- css sheet -->
    <html lang="en">
    <head>
        <title>{% block title %}Register{% endblock title %}</title>
    </head>
    <link rel="stylesheet" href="../static/Project/register.css"/>
    <div class="container py-5">

        <h1 class="main-title text-white mt-1 mb-5">Create An Account</h1>

        <div class="form-container rounded-4">
            {#Display registration success or failure#}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {#        Old form code -- working #}
            {#            <form method="POST">#}
            {#                {% csrf_token %}#}
            {#                {{ register_form|crispy }}#}
            {#                <button class="w-25 btn btn-lg btn-primary" type="submit">Register</button>#}
            {#            </form>#}

            {#        New form code with styling#}
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput"
                           placeholder="Username">
                    <label for="floatingInput">Username</label>
                </div>

                <p style="margin: 0">150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                <div class="form-floating" style="margin: 0; display: inline-block;">
                    <div class="form-floating" style="float: left">
                        <input type="text" class="form-control" id="fname" placeholder="First Name">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="form-floating" style="float: left">
                        <input type="text" class="form-control" id="lname"
                               placeholder="Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </div>

                <div class="form-floating" style="margin-top: 5px">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <p style="margin: 5px">Your password can't be too similar to your other personal information.</p>
                <p style="margin: 5px" id = "password-length">Your password must contain at least 8 characters.</p>
                <p style="margin: 5px">Your password can't be a commonly used password.</p>
                <p style="margin: 5px">Your password can't be entirely numeric.</p>
                <div class="form-floating">
                    <input type="password" class="form-control" id="passconfirmation"
                           placeholder="Password">
                    <label for="passconfirmation">Password Confirmation</label>
                </div>
                <button class="w-50 btn btn-lg btn-primary" style="margin: 20px" type="submit">Register</button>
            </form>

            <p class="text-center">If you already have an account, <a href="/login">login here</a> instead.</p>
        </div>
    </div>

    <script>
        var password = document.getElementById("floatingPassword");
        if (password.value.length <= 8)
        {
            document.getElementById("password-length").innerHTML = "Test";
        }
    </script>
    </html>

{% endblock %}